.App {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dynapuff-bold {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 81.9;
    font-size: 3em;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row {
    display: flex;
    margin-top: 5px;
}

.cell {
    width: 20px;
    height: 20px;
    background: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellHighlighted {
    background: #ddd;
}

.cellClickable:hover {
    background: #ccc;
    cursor: pointer;
}

.cellClickable:active {
    background: #ccc;
}

.board {
    border: 2px solid #333;
    display: inline-block;
}

#ticTacToeSize {
    margin-bottom: 15px;
}

#ticTacToeGameContainer {
    display: flex;
}

#ticTacToeOnlineGameContainer {
    display: flex;
    flex-direction: column;
}

#reactFundamentals {
    margin: 0px;
    margin-top: -12px;
    color: #888;
}

@keyframes flashOpacityForWhoIsNextTurn {
    0%,
    100% {
        opacity: 0.6;
    }

    80% {
        opacity: 1;
    }
}

@keyframes flashOpacityForGameWinner {
    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

#nextPlayer {
    animation: flashOpacityForWhoIsNextTurn 0.8s ease-in-out infinite;
    color: #6f42f5;
}

#winnerOfGame {
    animation: flashOpacityForGameWinner 0.5s ease-in-out infinite;
}

#historyButtonTurnContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: -10px;
}

#leftColumn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
