.App {
    text-align: center;
}

.row {
    display: flex;
    margin-top: 5px;
}

.cell {
    width: 20px;
    height: 20px;
    background: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.cell:hover {
    background: #ccc;
    cursor: pointer;
}

.board {
    border: 2px solid #333;
    display: inline-block;
}

#ticTacToeSize {
    margin-bottom: 15px;
}
